@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/*  styling scrollbars  */
::-webkit-scrollbar {
	width: 5px;
	height: 6px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #a5aaad;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #3ea175;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #a5aaad;
}

* {
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}

.text-primary-p {
	color: #a5aaad;
	font-size: 14px;
	font-weight: 700;
}

.font-bold {
	font-weight: 700;
}

.text-title {
	color: #2e4a66;
}

.text-lightblue {
	color: #469cac;
}

.text-red {
	color: #cc3d38;
}

.text-yellow {
	color: #a98921;
}

.text-green {
	color: #3b9668;
}

.container {
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 0.2fr 2fr;
	grid-template-areas:
		"sidebar nav nav nav"
		"sidebar main main main";
	/* grid-gap: 0.2rem; */
}

.navbar {
	background: #ffffff;
	grid-area: nav;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px 0 30px;
	border-bottom: 1px solid lightgray;
}

.nav_icon {
	display: none;
}

.nav_icon > i {
	font-size: 26px;
	color: #a5aaad;
}

.navbar__left > a {
	margin-right: 30px;
	text-decoration: none;
	color: #a5aaad;
	font-size: 15px;
	font-weight: 700;
}

.navbar__left .active_link {
	color: #265acc;
	border-bottom: 3px solid #265acc;
	padding-bottom: 12px;
}

.navbar__right {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar__right > a {
	margin-left: 20px;
	text-decoration: none;
}

.navbar__right > a > i {
	color: #a5aaad;
	font-size: 16px;
	border-radius: 50px;
	background: #ffffff;
	box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #ffffff;
	padding: 7px;
}

main {
	background: #f3f4f6;
	grid-area: main;
	overflow-y: auto;
}

.main__container {
	padding: 20px 35px;
}

.main__title {
	display: flex;
	align-items: center;
}

.main__title > img {
	max-height: 100px;
	object-fit: contain;
	margin-right: 20px;
}

.main__greeting > h1 {
	font-size: 24px;
	color: #2e4a66;
	margin-bottom: 5px;
}

.main__greeting > p {
	font-size: 14px;
	font-weight: 700;
	color: #444546;
}

/* .main__cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 30px;
	margin: 20px 0;
} */

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 70px;
	padding: 25px;
	border-radius: 5px;
	background: #ffffff;
	box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.card_inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card_inner > span {
	font-size: 25px;
}

.charts {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	margin-top: 50px;
}

/* .charts__left {
	padding: 25px;
	border-radius: 5px;
	background: #ffffff;
	box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.charts__left__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.charts__left__title > div > h1 {
	font-size: 24px;
	color: #000000;
	margin-bottom: 5px;
}

.charts__left__title > div > p {
	font-size: 14px;
	font-weight: 700;
	color: #a5aaad;
}

.charts__left__title > i {
	color: #ffffff;
	font-size: 20px;
	background: #346b32;
	border-radius: 200px 0px 200px 200px;
	-moz-border-radius: 200px 0px 200px 200px;
	-webkit-border-radius: 200px 0px 200px 200px;
	border: 0px solid #000000;
	padding: 15px;
} */

.charts__right {
	padding: 25px;
	border-radius: 5px;
	background: #ffffff;
	box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.charts__right__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.charts__right__title > div > h1 {
	font-size: 14px;
	color: #020f0b;
	margin-bottom: 5px;
}

.charts__right__title > div > p {
	font-size: 20px;
	font-weight: 700;
	color: #a5aaad;
}

.charts__right__title > i {
	color: #ffffff;
	font-size: 20px;
	background: #d36347;
	border-radius: 200px 0px 200px 200px;
	-moz-border-radius: 200px 0px 200px 200px;
	-webkit-border-radius: 200px 0px 200px 200px;
	border: 0px solid #000000;
	padding: 15px;
}

.charts__right__cards {
	display: grid;
	grid-template-columns: 210px 240px 270px;
	gap: 10px;
	margin-top: 30px;
	padding: 10px;
}
.charts__right__cards > div > p {
	font-size: 24px;
	font-weight: 900;
	margin-top: 10px;
}

.card1 {
	background: #e4c5c0;
	color: #f51010;
	text-align: center;
	padding: 25px;
	border-radius: 5px;
	font-size: 14px;
}

.card2 {
	background: #d2f9ee;
	color: #278a6e;
	text-align: center;
	padding: 25px;
	border-radius: 5px;
	font-size: 14px;
}

.card3 {
	background: #e2daad;
	color: #aa8254;
	text-align: center;
	padding: 25px;
	border-radius: 5px;
	font-size: 14px;
}

.card4 {
	background: #d2d9fa;
	color: #1e53ff;
	text-align: center;
	padding: 25px;
	border-radius: 5px;
	font-size: 14px;
}

.card5 {
	background: #ead0fc;
	color: #70066b;
	text-align: center;
	padding: 25px;
	border-radius: 5px;
	font-size: 14px;
}

/*  SIDEBAR STARTS HERE  */

#sidebar {
	background: #020509;
	grid-area: sidebar;
	overflow-y: auto;
	padding: 20px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.sidebar__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #f3f4f6;
	margin-bottom: 30px;
	/* color: #E85B6B; */
}

.sidebar__img {
	display: flex;
	align-items: center;
}

.sidebar__title > div > img {
	width: 75px;
	object-fit: contain;
}

.sidebar__title > div > h1 {
	font-size: 20px;
	display: inline;
	margin-left: 10px;
}

.sidebar__title > i {
	font-size: 18px;
	display: none;
	margin-left: 60px;
}

.sidebar__menu > h2 {
	color: #3ea175;
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 5px;
	padding: 0 10px;
	font-weight: 700;
}

.sidebar__link {
	color: #f3f4f6;
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 5px;
}

.active_menu_link {
	background: rgba(62, 161, 117, 0.3);
	color: #3ea175;
}

.active_menu_link a {
	color: #3ea175 !important;
}

.sidebar__link > a {
	text-decoration: none;
	color: #a5aaad;
	font-weight: 700;
}

.sidebar__link > i {
	margin-right: 10px;
	font-size: 18px;
}

.sidebar__logout {
	margin-top: 20px;
	padding: 10px;
	color: #e65061;
}

.sidebar__logout > a {
	text-decoration: none;
	color: #e65061;
	font-weight: 700;
	text-transform: uppercase;
}

.sidebar__logout > i {
	margin-right: 10px;
	font-size: 18px;
}

.sidebar_responsive {
	display: inline !important;
	z-index: 9999 !important;
	left: 0 !important;
	position: absolute;
}

@media only screen and (max-width: 976px) {
	.container {
		grid-template-columns: 1fr;
		grid-template-rows: 0.2fr 2.2fr;
		/* grid-template-rows: 0.2fr 3fr; */
		grid-template-areas:
			"nav"
			"main";
	}

	#sidebar {
		display: none;
	}

	.sidebar__title > i {
		display: inline;
	}

	.nav_icon {
		display: inline;
	}
}

@media only screen and (max-width: 480px) {
	.main__cards {
		grid-template-columns: 1fr;
		gap: 10px;
		margin-bottom: 0;
	}
	.charts {
		grid-template-columns: 1fr;
		margin-top: 30px;
	}
	.charts__right__cards {
		grid-template-columns: 1fr;
		margin-top: 20px;
	}
}

@media only screen and (max-width: 480px) {
	.navbar__left {
		display: none;
	}
}
